# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cee587f5ca83c6390651c0a700cb00fe153dc310bbfa3ff7ab812f4c62a62d768244a3c3aac02ea3fff70dd9c13e44ec41d3fab99ac474a6129ac3ed607bae7c

test:
  secret_key_base: 5e40e6a458856eb0b3d0c85f90940e00cc4634bb9a20c4cccf52209158456424982c155d414763fbb2bef517342a201756b5e66420ce04704ec6c4b7da303bbf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
#  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: 809544300d36d654a14c4f4682b3469e6ab447d84f699e7e1059c382a626ef701bab198f582b5a586cdedcf0ddaaa04183d0b03ac9a77cacd2d7b500834d25f7
